In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine, text
import pyodbc

In [2]:
DB_USER = "admin_rb"
DB_PASSWORD = "!M5SD881100289"
DB_HOST = "3.135.28.240"
DB_PORT = 1433
DB_INSTANCE_NAME = "stormdatabase"
DB_NAME = "valid_storms"

connection_string = (
    f"mssql+pyodbc://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
    f"?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes"
)
# Create the SQLAlchemy engine
try:
    engine = create_engine(connection_string, echo=True)
    
    # Attempt to connect to verify the engine works
    with engine.connect() as connection:
        print("Successfully connected to SQL Server!")
        
except Exception as e:
    print(f"An error occurred: {e}")

2025-09-16 20:24:38,331 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2025-09-16 20:24:38,334 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-16 20:24:38,378 INFO sqlalchemy.engine.Engine SELECT schema_name()
2025-09-16 20:24:38,379 INFO sqlalchemy.engine.Engine [generated in 0.00117s] ()
2025-09-16 20:24:38,659 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2025-09-16 20:24:38,660 INFO sqlalchemy.engine.Engine [generated in 0.00128s] ()
2025-09-16 20:24:38,697 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2025-09-16 20:24:38,699 INFO sqlalchemy.engine.Engine [generated in 0.00286s] ()
Successfully connected to SQL Server!

In [3]:
# Connect directly using pyodbc to the database and retrieve the result set.
# This approach is the most efficient way to handle large result sets.
try:
    engine = create_engine(connection_string, echo=True)
    command = f"SELECT top 101 storm_id, storm_name, max_wind_speed FROM valid_storms ORDER BY storm_name"
    # Attempt to connect to verify the engine works
    with engine.connect() as connection:
        print("Successfully connected to SQL Server!")
        df = pd.read_sql(command, connection,chunksize=100)
        full_df = pd.concat(df)
        print(full_df)
        
except Exception as e:
    print(f"An error occurred: {e}")

2025-09-16 20:24:42,856 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2025-09-16 20:24:42,858 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-16 20:24:42,902 INFO sqlalchemy.engine.Engine SELECT schema_name()
2025-09-16 20:24:42,903 INFO sqlalchemy.engine.Engine [generated in 0.00134s] ()
2025-09-16 20:24:43,165 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2025-09-16 20:24:43,168 INFO sqlalchemy.engine.Engine [generated in 0.00318s] ()
2025-09-16 20:24:43,217 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2025-09-16 20:24:43,218 INFO sqlalchemy.engine.Engine [generated in 0.00097s] ()
Successfully connected to SQL Server!
2025-09-16 20:24:43,658 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-16 20:24:43,659 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2025-09-16 20:24:43,660 INFO sqlalchemy.engine.Engine [generated in 0.00194s] ('BASE TABLE', 'VIEW', 'SELECT top 101 storm_id, storm_name, max_wind_speed FROM valid_storms ORDER BY storm_name', 'dbo')
2025-09-16 20:24:43,882 INFO sqlalchemy.engine.Engine SELECT top 101 storm_id, storm_name, max_wind_speed FROM valid_storms ORDER BY storm_name
2025-09-16 20:24:43,884 INFO sqlalchemy.engine.Engine [raw sql] ()
    storm_id storm_name  max_wind_speed
0   AL011968       ABBY              65
1   AL021972      AGNES              75
2   AL011994    ALBERTO              55
3   AL012006    ALBERTO              60
4   AL012018    ALBERTO              55
..       ...        ...             ...
96  AL142024     MILTON             155
97  AL132021      MINDY              50
98  AL131998      MITCH             155
99  AL162019     NESTOR              50
0   AL172022     NICOLE              65

[101 rows x 3 columns]
2025-09-16 20:25:09,165 INFO sqlalchemy.engine.Engine ROLLBACK

In [43]:
command

'SELECT storm_id, storm_name, max_wind_speed FROM valid_storms ORDER BY storm_name'

In [ ]:
import pandas as pd
import pyodbc

# Database connection details
DB_USER = "admin_rb"
DB_PASSWORD = "!M5SD881100289"
DB_HOST = "3.135.28.240"
DB_PORT = 1433
DB_INSTANCE_NAME = "stormdatabase"
DB_NAME = "valid_storms"

# The connection string for pyodbc
conn_string = (
    f"DRIVER={{ODBC Driver 18 for SQL Server}};"
    f"SERVER={DB_HOST},{DB_PORT};"
    f"UID={DB_USER};"
    f"PWD={DB_PASSWORD};"
    f"TrustServerCertificate=yes;"
    f"DATABASE={DB_NAME};"
    f"fast_executemany=True" # This is the new, crucial parameter.
)

try:
    # Connect directly using pyodbc
    connection = pyodbc.connect(conn_string, autocommit=True)
    cursor = connection.cursor()

    print("\nSuccessfully connected to SQL Server!")
    
    command = f"SELECT top 150 storm_id, storm_name, max_wind_speed FROM valid_storms ORDER BY storm_name"
    
    # Execute the command
    cursor.execute(command)

    
    
except Exception as e:
    print("\nAn error occurred during database operation:")
    print(e)
finally:
    if 'connection' in locals() and connection:
        connection.close()

Successfully connected to SQL Server!

In [52]:
DB_USER = "admin_rb"
DB_PASSWORD = "!M5SD881100289"
DB_HOST = "3.135.28.240"
DB_PORT = 1433
DB_INSTANCE_NAME = "stormdatabase"
DB_NAME = "valid_storms"

conn_string = (
    f"DRIVER={{ODBC Driver 18 for SQL Server}};"
    f"SERVER={DB_HOST},{DB_PORT};"
    f"UID={DB_USER};"
    f"PWD={DB_PASSWORD};"
    f"TrustServerCertificate=yes;"
    f"DATABASE={DB_NAME};"
)

connection = None
try:
    # Connect directly using pyodbc and force autocommit
    connection = pyodbc.connect(conn_string, autocommit=True)
    cursor = connection.cursor()

    print("\nUsing direct pyodbc connection..")
    #command = f"drop table valid_storms;"
    #command = 'SELECT name FROM sys.tables;'
    #command = f"SELECT * FROM fn_my_permissions(NULL, 'SERVER');"
    command = f"SELECT top 101 storm_id, storm_name, max_wind_speed FROM valid_storms ORDER BY storm_name"
    
    result  = cursor.execute(command)

    print(f"Command Completed")
        
except Exception as e:
    print("\nAn error occurred during direct database creation:")
    print(e)
finally:
    if connection:
        connection.close()

Using direct pyodbc connection..
Command Completed

In [22]:
df = pd.read_csv('combined_storm_data.csv')
df.head()

,storm_id,storm_name,rows,year,landfall_date,wind_speed_at_landfall,strict_landfall_date,strict_wind_speed_at_landfall,is_hurricane,max_wind_speed,has_any_landfall,has_strict_landfall,has_liberal_landfall
0,AL061900,UNNAMED,24,1900,1900-10-12 00:00:00,40.0,0,0.0,False,40,True,False,False
1,AL011901,UNNAMED,21,1901,1901-06-13 18:00:00,35.0,0,0.0,False,35,True,False,False
2,AL041901,UNNAMED,71,1901,1901-08-10 18:00:00,40.0,0,0.0,True,80,True,False,True
3,AL081901,UNNAMED,44,1901,1901-09-17 18:00:00,50.0,0,0.0,True,70,True,False,True
4,AL101901,UNNAMED,48,1901,1901-09-28 00:00:00,40.0,0,0.0,False,45,True,False,False

In [23]:
try:
    df.to_sql('valid_storms',con=engine)
except SQLAlchemyError as e:
    # If a connection error occurs, this block will be executed
    print("\nError: Could not connect to the database.")
    print(f"Details: {e}")

2025-09-16 19:06:39,850 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-16 19:06:39,941 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2025-09-16 19:06:39,943 INFO sqlalchemy.engine.Engine [generated in 0.00306s] ('BASE TABLE', 'VIEW', 'valid_storms', 'dbo')
2025-09-16 19:06:40,136 INFO sqlalchemy.engine.Engine
CREATE TABLE valid_storms (
	[index] BIGINT NULL,
	storm_id VARCHAR(max) NULL,
	storm_name VARCHAR(max) NULL,
	rows BIGINT NULL,
	year BIGINT NULL,
	landfall_date VARCHAR(max) NULL,
	wind_speed_at_landfall FLOAT(53) NULL,
	strict_landfall_date VARCHAR(max) NULL,
	strict_wind_speed_at_landfall FLOAT(53) NULL,
	is_hurricane BIT NULL,
	max_wind_speed BIGINT NULL,
	has_any_landfall BIT NULL,
	has_strict_landfall BIT NULL,
	has_liberal_landfall BIT NULL
)


2025-09-16 19:06:40,138 INFO sqlalchemy.engine.Engine [no key 0.00125s] ()
2025-09-16 19:06:40,212 INFO sqlalchemy.engine.Engine CREATE INDEX ix_valid_storms_index ON valid_storms ([index])
2025-09-16 19:06:40,213 INFO sqlalchemy.engine.Engine [no key 0.00124s] ()
2025-09-16 19:06:40,297 INFO sqlalchemy.engine.Engine INSERT INTO valid_storms ([index], storm_id, storm_name, rows, year, landfall_date, wind_speed_at_landfall, strict_landfall_date, strict_wind_speed_at_landfall, is_hurricane, max_wind_speed, has_any_landfall, has_strict_landfall, has_liberal_landfall ... 6463 characters truncated ...  ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-09-16 19:06:40,298 INFO sqlalchemy.engine.Engine [generated in 0.00321s (insertmanyvalues) 1/2 (unordered)] (0, 'AL061900', 'UNNAMED', 24, 1900, '1900-10-12 00:00:00', 40.0, '0', 0.0, 0, 40, 1, 0, 0, 1, 'AL011901', 'UNNAMED', 21, 1901, '1901-06-13 18:00:00', 35.0, '0', 0.0, 0, 35, 1, 0, 0, 2, 'AL041901', 'UNNAMED', 71, 1901, '1901-08-10 18:00:00', 40.0, '0', 0.0, 1, 80, 1, 0, 1, 3, 'AL081901', 'UNNAMED', 44, 1901, '1901-09-17 18:00:00', 50.0, '0' ... 1986 parameters truncated ... 20.0, '0', 0.0, 0, 30, 1, 0, 0, 146, 'AL121988', 'KEITH', 39, 1988, '1988-11-23 07:00:00', 55.0, '0', 0.0, 0, 65, 1, 0, 0, 147, 'AL141988', 'UNNAMED', 7, 1988, '1988-08-14 06:00:00', 30.0, '0', 0.0, 0, 30, 1, 0, 0, 148, 'AL151990', 'MARCO', 17, 1990, '1990-10-12 00:00:00', 30.0, '0', 0.0, 0, 55, 1, 0, 0)
2025-09-16 19:06:40,598 INFO sqlalchemy.engine.Engine INSERT INTO valid_storms ([index], storm_id, storm_name, rows, year, landfall_date, wind_speed_at_landfall, strict_landfall_date, strict_wind_speed_at_landfall, is_hurricane, max_wind_speed, has_any_landfall, has_strict_landfall, has_liberal_landfall ... 2679 characters truncated ...  ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-09-16 19:06:40,601 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (unordered)] (149, 'AL011991', 'ANA', 25, 1991, '1991-06-30 00:00:00', 20.0, '0', 0.0, 0, 45, 1, 0, 0, 150, 'AL041992', 'ANDREW', 52, 1992, '1992-08-24 06:00:00', 130.0, '1992-08-24 06:00:00', 130.0, 1, 150, 1, 1, 1, 151, 'AL011994', 'ALBERTO', 32, 1994, '1994-07-03 12:00:00', 55.0, '0', 0.0, 0, 55, 1, 0, 0, 152, 'AL031994', 'BERYL', 20, 1994, '1994-08-16 00:00:00', 50.0, '0' ... 782 parameters truncated ... 115.0, '2023-08-30 09:00:00', 115.0, 1, 115, 1, 1, 1, 209, 'AL042024', 'DEBBY', 35, 2024, '2024-08-05 11:00:00', 70.0, '2024-08-05 11:00:00', 70.0, 1, 70, 1, 1, 1, 210, 'AL092024', 'HELENE', 25, 2024, '2024-09-27 00:00:00', 120.0, '2024-09-27 00:00:00', 120.0, 1, 120, 1, 1, 1, 211, 'AL142024', 'MILTON', 34, 2024, '2024-10-10 00:00:00', 105.0, '2024-10-10 00:00:00', 105.0, 1, 155, 1, 1, 1)
2025-09-16 19:06:40,778 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
# --- 2. Define the name of the database to be created ---
NEW_DB_NAME = "valid_storms"

def create_database_pyodbc(db_host, db_port, db_user, db_password, new_db_name):
    """
    Creates a database using a direct pyodbc connection. This bypasses
    SQLAlchemy's transactional behavior, which is necessary for CREATE DATABASE.
    """
    conn_string = (
        f"DRIVER={{ODBC Driver 18 for SQL Server}};"
        f"SERVER={db_host},{db_port};"
        f"UID={db_user};"
        f"PWD={db_password};"
        f"TrustServerCertificate=yes;"
    )

    connection = None
    try:
        # Connect directly using pyodbc and force autocommit
        connection = pyodbc.connect(conn_string, autocommit=True)
        cursor = connection.cursor()

        print("\nUsing direct pyodbc connection to create database...")
        create_db_sql = f"IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = '{new_db_name}') CREATE DATABASE {new_db_name};"
        
        cursor.execute(create_db_sql)
        print(f"Database '{new_db_name}' created or already exists.")
        
    except Exception as e:
        print("\nAn error occurred during direct database creation:")
        print(e)
    finally:
        if connection:
            connection.close()

def create_user_and_login_pyodbc(db_host, db_port, db_user, db_password, target_db_name, new_user_name, new_user_password):
    """
    Creates a new login and user with read/write permissions using a direct pyodbc connection.
    This also requires an admin user with appropriate permissions.
    """
    conn_string = (
        f"DRIVER={{ODBC Driver 18 for SQL Server}};"
        f"SERVER={db_host},{db_port};"
        f"UID={db_user};"
        f"PWD={db_password};"
        f"TrustServerCertificate=yes;"
    )

    connection = None
    try:
        connection = pyodbc.connect(conn_string, autocommit=True)
        cursor = connection.cursor()

        print(f"\nAttempting to create user and login for '{new_user_name}'...")
        
        # 1. Create a server-level LOGIN
        create_login_sql = f"IF NOT EXISTS (SELECT * FROM sys.sql_logins WHERE name = '{new_user_name}') CREATE LOGIN [{new_user_name}] WITH PASSWORD = '{new_user_password}';"
        cursor.execute(create_login_sql)
        print("Login created or already exists.")
        
        # 2. Switch to the target database and create the USER
        # This is a critical step
        cursor.execute(f"USE {target_db_name};")
        
        create_user_sql = f"IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = '{new_user_name}') CREATE USER [{new_user_name}] FOR LOGIN [{new_user_name}];"
        cursor.execute(create_user_sql)
        print("User created or already exists.")
        
        # 3. Grant the user permissions
        grant_perms_sql = f"""
            ALTER ROLE db_datareader ADD MEMBER [{new_user_name}];
            ALTER ROLE db_datawriter ADD MEMBER [{new_user_name}];
        """
        cursor.execute(grant_perms_sql)
        print("Permissions granted to the new user.")
        
    except Exception as e:
        print("\nAn error occurred during user creation:")
        print(e)
    finally:
        if connection:
            connection.close()

# --- 3. Run the database creation function first ---
create_database_pyodbc(DB_HOST, DB_PORT, DB_USER, DB_PASSWORD, NEW_DB_NAME)

# --- 4. Now, create a new user for the new database ---
# You can define the new user's credentials here.
NEW_USER = "new_user"
NEW_PASSWORD = "my_strong_password"
create_user_and_login_pyodbc(DB_HOST, DB_PORT, DB_USER, DB_PASSWORD, NEW_DB_NAME, NEW_USER, NEW_PASSWORD)

# --- 5. Now, connect to the newly created database using SQLAlchemy ---
try:
    # Construct the final connection string with the new database name
    connection_string = (
        f"mssql+pyodbc://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{NEW_DB_NAME}?"
        f"driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes"
    )
    
    # Create a new engine for the new database
    engine = create_engine(connection_string, echo=True)
    
    # Verify the connection to the new database
    with engine.connect() as new_connection:
        print(f"\nSuccessfully connected to the new '{NEW_DB_NAME}' database!")
        result = new_connection.execute(text("SELECT DB_NAME() AS CurrentDB;"))
        for row in result:
            print(f"Current database is: {row[0]}")
    
except Exception as e:
    print("\nAn error occurred while connecting to the new database:")
    print(e)

Using direct pyodbc connection to create database...
Database 'valid_storms' created or already exists.

Attempting to create user and login for 'new_user'...
Login created or already exists.
User created or already exists.
Permissions granted to the new user.
2025-09-16 09:46:04,414 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2025-09-16 09:46:04,416 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-16 09:46:04,488 INFO sqlalchemy.engine.Engine SELECT schema_name()
2025-09-16 09:46:04,489 INFO sqlalchemy.engine.Engine [generated in 0.00232s] ()
2025-09-16 09:46:04,718 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2025-09-16 09:46:04,719 INFO sqlalchemy.engine.Engine [generated in 0.00146s] ()
2025-09-16 09:46:04,770 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2025-09-16 09:46:04,771 INFO sqlalchemy.engine.Engine [generated in 0.00151s] ()

Successfully connected to the new 'valid_storms' database!
2025-09-16 09:46:05,167 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-16 09:46:05,170 INFO sqlalchemy.engine.Engine SELECT DB_NAME() AS CurrentDB;
2025-09-16 09:46:05,171 INFO sqlalchemy.engine.Engine [generated in 0.00320s] ()
Current database is: valid_storms
2025-09-16 09:46:05,216 INFO sqlalchemy.engine.Engine ROLLBACK

In [26]:
def execute_admin_command(db_host, db_port, db_user, db_password, sql_command, db_name="master"):
    """
    Executes a single, non-transactional SQL administrative command
    (e.g., CREATE DATABASE, CREATE LOGIN) using a direct pyodbc connection.

    Args:
        db_host (str): The database server's hostname.
        db_port (int): The database server's port.
        db_user (str): The username for the database connection.
        db_password (str): The password for the database connection.
        sql_command (str): The SQL command to execute.
        db_name (str): The database to connect to. Defaults to 'master'.
    """
    conn_string = (
        f"DRIVER={{ODBC Driver 18 for SQL Server}};"
        f"SERVER={db_host},{db_port};"
        f"DATABASE={db_name};"
        f"UID={db_user};"
        f"PWD={db_password};"
        f"TrustServerCertificate=yes;"
    )

    connection = None
    try:
        # Connect directly using pyodbc and force autocommit
        connection = pyodbc.connect(conn_string, autocommit=True)
        cursor = connection.cursor()

        print(f"Executing command: {sql_command}")
        result = cursor.execute(sql_command)
        for row in result:
            print(row)
        print("Command executed successfully.")
        
    except Exception as e:
        print("\nAn error occurred during command execution:")
        print(e)
    finally:
        if connection:
            connection.close()
            print("Connection closed.")

# --- Example Usage ---

# Define a sample command to create a new table.
# You would use this after your database has been created.
create_user_command = """
    CREATE USER csharpserver FOR LOGIN csharpserver;
    ALTER ROLE db_datareader ADD MEMBER csharpserver;
"""

show_users_command = """
    SELECT name, type_desc FROM sys.database_principals;
"""

# Call the function to run the command.
# We'll use your new database name for this example.
# Make sure your environment variables are set or update the defaults.
execute_admin_command(DB_HOST, DB_PORT, DB_USER, DB_PASSWORD, show_users_command, db_name="VALID_STORMS")

Executing command:
    SELECT name, type_desc FROM sys.database_principals;

('public', 'DATABASE_ROLE')
('dbo', 'SQL_USER')
('guest', 'SQL_USER')
('INFORMATION_SCHEMA', 'SQL_USER')
('sys', 'SQL_USER')
('admin_rb', 'SQL_USER')
('csharpserver', 'SQL_USER')
('db_owner', 'DATABASE_ROLE')
('db_accessadmin', 'DATABASE_ROLE')
('db_securityadmin', 'DATABASE_ROLE')
('db_ddladmin', 'DATABASE_ROLE')
('db_backupoperator', 'DATABASE_ROLE')
('db_datareader', 'DATABASE_ROLE')
('db_datawriter', 'DATABASE_ROLE')
('db_denydatareader', 'DATABASE_ROLE')
('db_denydatawriter', 'DATABASE_ROLE')
Command executed successfully.
Connection closed.